<!DOCTYPE html>
<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Resumen PDF</title>
        <link href="https://{{host}}/css/pdfgenerator.css" rel="stylesheet" type="text/css">
    </head>
	<body>
		<div class="container">
			<div class="title">
				Listado de productos a {{date}}
			</div>
            <div id ="footer">
				<p class="page"  style="margin-top:3px"></p>
			</div>
			<div class="row">
				<table class="table">
					<thead>
                        <th>Imagen</th>
						<th>Producto</th>
						<th>Descripción</th>
						<th>Precio</th>
					</thead>
					<tbody>
						{% for product in data %}
							<tr >
                                <td style="text-align:center; width:10%">
                                <img src="http://symfonypdf.dev.com/uploads/images/{{product.image}}" 
                                     width="50" 
                                     height="50" >
                                </td>
								<td>{{product.name}}</td>
								<td>{{product.description}}</td>
								<td style="text-align:right; width:10%">
                                    {{ product.price|number_format(2, ',', '.') }} € 
                                </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
                <div style="margin-top:25px">
				<a class=" btn-primary" href="/muestra">Volver</a>
                </div>
			</div>
            <div id="footer">
                <p class="page" style="margin-top:3px"></p>
            </div> 
		</div>
	</body>
</html>
